* body {
    margin: 0px;
    padding: 0px;
    box-sizing: 0px;
    background: #222629;
}

@media screen and (max-width: 570px) {
    #header img {
        opacity: 8%;
        width: 280px !important;
        margin-top: -18px !important;
    }

    #header h1 {
        font-size: 37px !important;
    }

    .card {
        width: 8rem !important;
    }

    .card-body {
        height: 100px;
    }

    .card-text {
        text-overflow: ellipsis;
        overflow: hidden;
        white-space: nowrap;
    }

    #next-page {
        width: 74px !important;
    }

    #character-information {
        width: 100% !important;
    }


    #character-information p {
        font-size: 15px !important;
        margin-inline-start: auto !important;
    }

    #image {
        width: 100% !important;
    }
}

@media screen and (max-width: 1100px) {
    #header img {
        opacity: 8%;
    }    
}

#header {
    background: #474b4f;
    margin-bottom: 40px;
}

#header img {
    width: 354px;
    position: absolute;
    margin-top: -42px;
}

#header h1 {
    text-align-last: center;
    font-size: 63px;
    color: #95989b;
    padding-top: 50px;
}

#header h2 {
    text-align-last: center;
    font-size: 35px;
    color: #86b249;
    padding-bottom: 45px;
}

.card {
    width: 16rem;
    cursor: pointer;
    margin: 15px;
    background-color: #6b6e70;
    border-color: #222629;
    border-radius: 15px;
}

#characters-list .card {
    transition: all .2s ease-in-out;
}

#characters-list .card:hover {
    transform: scale(1.05);
}

.btn.btn-success {
    transition: all .2s ease-in-out;
}

.btn.btn-success:hover {
    transform: scale(1.05);
}

.col-6.col-xl-3 {
    justify-content: center;
    display: grid;
}

.card p {
    color: white;
    font-family: 'Barlow', sans-serif;
}

.card-title {
    font-size: 36px;
    margin-bottom: 17px;
    color: gainsboro;
}

.card-body {
    height: 70px;
}

#character-information p {
    margin-left: 30px;
    font-size: 19px;
    color: #d3f0aa;
}

#modal {
    border: 0px;
    text-align: center;
    background: rgba(48, 44, 44, 0.479);
}

#modal div{
    cursor: default;
}

#modal::backdrop {
    background-color: rgba(0, 0, 0, .85);
}

#character-information {    
    width: 400px;
    margin: 0 !important;
}

#image {
    width: 100%;
    align-self: center;
}

#information {
    height: 100%;
}

#pagination {
    margin-top: 50px;
    margin-bottom: 50px;
}

#previous-page {
    border-color: #d3f0aa !important;
    background-color: #d3f0aa !important;
    color: #222629 !important;
    width: 100px;
}

#actual-page {
    color: #d3f0aa;
}

#next-page {
    border-color: #d3f0aa !important;
    background-color: #d3f0aa !important;
    color: #222629 !important;
    width: 100px;
}

#footer {
    background: #474b4f;
    padding-bottom: 54px;
    text-align: center;
}

#footer p {
    padding-top: 61px;
    font-size: 19px;
    color: #86c232;
}

#footer a {
    font-size: 17px;
    color: #95989b;
    font-weight: bold;
    cursor: pointer;
    transition: all .2s ease-in-out;
}

a:hover {
    color:#86c232 !important;
}

/* Works on Firefox */
* {
    scrollbar-width: thin;
    scrollbar-color: #86c232 #474b4f;
  }
  
/* Works on Chrome, Edge, and Safari */
*::-webkit-scrollbar {
width: 12px;
}
  
*::-webkit-scrollbar-track {
background: #474b4f;
}
  
*::-webkit-scrollbar-thumb {
background-color: #86b249;
border-radius: 20px;
border: 3px solid #474b4f;
}

@keyframes append-animate {
	from {
		transform: scale(0);
		opacity: 0;
	}
	to {
		transform: scale(1);
		opacity: 1;	
	}
}

#characters-list div {
	animation: append-animate .3s linear;
}

#modal {
	animation: append-animate .3s linear;
}
